<header class="site-header" {{#is "home"}} style="background-color: transparent;" {{/is}}>
    <div class="navbar">
        {{> logo}}
        <span class="material-icons burger">menu</span>
        {{!-- <div class="burger"></div> --}}
    </div>
</header>