<div class="off-canvas-charm"></div>
<aside class="off-canvas">
    <div class="canvas-logo logo">
        {{> logo}}
    </div>
    {{!-- <div class="canvas-close">
        <i class="canvas-icon icon icon-window-close"></i>
    </div> --}}
    <span class="material-icons canvas-close">close</span>
    {{#if @site.navigation}}
        <nav class="main-menu widget">
            {{navigation}}
        </nav>
    {{/if}}
    {{> widgets/widgets}}
</aside>