:root {
    --primary-color: var(--ghost-accent-color, #9692AF);

    --primary-text-color: #FFF;
    --secondary-text-color: #AAA;

    --white-color: #FFF;

    --font-heading: 'Lato', sans-serif;
    --font-base: 'Raleway', sans-serif;

    --animation-base: ease;
    --shadow-base: 0 0 10px rgba(0, 0, 0, 0.2);

    --md-shade30: #1E1E1E;
    --md-shade37: #252526;
    --md-shade51: #333333;
    --md-shade65: #414141;
    --md-shade90: #5A5A5A;
    --md-shade133: #858585;

    --md-teal: #30A695;
    --md-dark-teal: #0D806E;

    --md-lime: #30A632;
    --md-dark-lime: #0D800E;

    --md-additional21: #A65930;
    --md-dark-additional21: #80350D;

    --md-additional71: #90A630;
    --md-dark-additional71: #6B800D;

    --md-additional221: #3056A6;
    --md-dark-additional221: #0D4380;

    --md-additional271: #6D30A6;
    --md-dark-additional271: #480D80;

    --md-additional312: #A6307D;
    --md-dark-additional312: #800D58;

    --intro-animation-duration: 3500ms;

    --accent-line-width: 2px;
    --accent-charm-width: 2rem;
    --accent-charm-animation-duration: 400ms;

    --highlight: rgba(144, 166, 48, 0.5);

    --off-canvas-width: 350px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection { 
    background: var(--highlight); 
}

body {
    color: var(--secondary-text-color);
    font-family: var(--font-base);
    font-size: 16px;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    background-color: var(--md-shade30);
    transition: background-color 0.3s var(--animation-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

*::-webkit-scrollbar {
    width: 11px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--md-shade65) var(--md-shade30);
}

*::-webkit-scrollbar-track {
    background: var(--md-shade30);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--md-shade65) ;
    border-radius: 6px;
    border: 3px solid var(--md-shade30);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: var(--primary-text-color);
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--font-heading);
}

p {
    margin: 0 0 30px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote {
    margin-right: auto;
    margin-left: auto;
    max-width: 550px;
    color: var(--secondary-text-color);
    font-size: 22px;
    line-height: 1.4;
    font-weight: 800;
    text-align: center;
}

ul,
ol {
    margin: 30px 0;
    padding-left: 20px;
}

li {
    margin: 15px 0;
    line-height: 1.7;
}

iframe,
embed {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 15px;
    color: var(--secondary-text-color);
    font-size: 14px;
    text-align: center;
}

pre {
    overflow-x: scroll;
    margin: 30px 0;
}

hr {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 5px;
    height: 5px;
    border: 0;
    background-color: var(--primary-text-color);
    border-radius: 50%;
}

hr::before,
hr::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
}

hr::before {
    right: 20px;
}

hr::after {
    left: 20px;
}
