.button-arrow-icon {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    transition: transform var(--accent-charm-animation-duration) var(--animation-base), opacity var(--accent-charm-animation-duration) var(--animation-base);
    opacity: 0;
}

.button-arrow-right:hover .button-arrow-icon, .button-arrow-right:focus .button-arrow-icon {
    transform: translateX(5px);
    opacity: 1;
}

.button-arrow-left:hover .button-arrow-icon, .button-arrow-right:focus .button-arrow-icon {
    transform: translateX(-5px);
    opacity: 1;
}
