.burger {
    position: relative;
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    border: 2px solid var(--mid-gray-color);
    background-color: var(--dark-light);
    cursor: pointer;
}

.burger:hover {
    color: var(--primary-color);
}

.home-template .burger {
    border-color: var(--white-color);
}
