.off-canvas {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 90;
    overflow-y: scroll;
    padding: 7rem 2rem 2rem 2rem;
    width: var(--off-canvas-width);
    height: 100vh;
    background-color: var(--dark-middle);
    transform: translateX(var(--off-canvas-width));
    -webkit-overflow-scrolling: touch;
    border-left: var(--accent-line-width) solid var(--primary-color);
}

.off-canvas::before {
    content: '';
    width: var(--off-canvas-width);
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    transition: height var(--accent-charm-animation-duration);
    z-index: 999;
}

.off-canvas:hover .off-canvas::before, .off-canvas:focus .off-canvas::before {    
    height: 100%;
}

.canvas-logo {
    position: absolute;
    top: 3rem;
    width: 7.5rem;
    height: 2.75rem;
}

.canvas-logo > .logo {
    width: 100%;
    height: 100%;
}

.canvas-logo > .logo > .logo-image {
    object-fit: contain;
    object-position: left center;
    max-height: unset;
}

.canvas-close {
    position: absolute;
    top: 2.25rem;
    right: 2rem;
    padding: 0.25rem;
    color: inherit;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.4s var(--animation-base);
}

.canvas-close:hover, .canvas-close:focus {
    color: var(--primary-color);
}

html:not(.canvas-visible) .off-canvas {
    visibility: hidden;
}

.canvas-opened .off-canvas {
    visibility: visible;
    transform: translateX(0) !important;
}

.overflow-hidden {
    overflow: hidden;
}
