.term {
    margin-top: 30px;
    margin-bottom: 45px;
    max-width: 500px;
}

.term-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: var(--primary-text-color);
    font-size: 30px;
    font-weight: 800;
}

.term-name::before {
    content: "";
    width: 0;
    margin-right: 0px;
    height: var(--accent-line-width);
    background-color: var(--primary-color);

    animation: termIntroAnimation;
    animation-duration: var(--animation-base-duration);
    animation-timing-function: var(--animation-base);
    animation-fill-mode: forwards;
    animation-delay: var(--term-name-strikebefore-delay);
}

@keyframes termIntroAnimation {
    from {
        width: 0;
        margin-right: 0px;
    }
    to {
        width: var(--accent-charm-width);
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .term {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .term-name {
        font-size: 24px;
    }
}
